.dashboardContainer {
  padding: 50px;
  margin: 0 auto;
  min-height: 100vh;
}

.boardContainer {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.statusColumn {
  display: flex;
  flex: 1 1 0%;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  width: 30%;
  min-height: 500px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.in_progress {
  background-color: #ecd092;
}

.done {
  background-color: #93cfa1;
}

.columnHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addButton {
  background-color: #00000027;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
